<!doctype html>
<html>
  <head>
    <style>
      #repos {
        max-height: 20vh;
        overflow-y: auto;
      }
    </style>
  </head>
  <body>
    <p>Logged in as {{.Name}} at {{.Email}}!</p>
    <p>
    {{if .Repos}}
      <h2>GitHub Repos</h2>
      <div id="repos">
        {{range .Repos}}
          <p><a href="{{.Url}}">{{.Name}}</a> — {{.Description}}</p>
        {{end}}
      </div>
    {{else}}
      <p><a href="/oauth/connect/github">Connect GitHub</a></p>
    {{end}}
    <h2>Active Sessions</h2>
    {{range .Sessions}}
      <hr>
      <p>{{.IpAddr}}</p>
      <p>{{.Device}}</p>
      <p>Signed in on {{.Created | date}}</p>
      <p>Expires on {{.ExpiresAt | date}}<p>
      <hr>
    {{end}}
    <h2>Recent Activity</h2>
    {{range .Activities}}
      <p>{{.Action}} on {{.Created | date}}</p>
    {{else}}
      <p>No recent activity.</p>
    {{end}}
    <hr>
    <p><a href="#">Enable TOTP 2FA</a></p>
    <p><a href="#" id="new-passkey">New passkey</a></p>
    <hr>
    <p><a href="/logout">Log out</a></p>
    <script>
      const newPasskeyEle = document.querySelector("#new-passkey");
      console.log(new TextEncoder().encode({{.Challenge}}));
      newPasskeyEle.addEventListener("click", event => {
        event.preventDefault();
        // We want to ask for a new passkey, we get back the public key and a key handle.
        // This returns [`PublicKeyCredential`](https://developer.mozilla.org/en-US/docs/Web/API/PublicKeyCredential).
        // todo(jc): Thoughts on attestation.
        navigator.credentials.create({
          publicKey: {
            challenge: new TextEncoder().encode({{.Challenge}}).buffer,
            pubKeyCredParams: [{
              type: "public-key",
              alg: -7, // ES256
            }],
            // Just using generic value.
            rp: {name: window.location.hostname, id: window.location.hostname},
            user: {
              id: new TextEncoder().encode({{.Id}}),
              name: {{.Email}},
              displayName: {{.Name}},
            }
          }
        }).then(passkey => {

          console.log(passkey);
        }, console.log);
      });
    </script>
  </body>
</html>
